#what .items {
  display: block;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  /* align-items:center */
  text-align: left;
}

/* Position icon */
#what .items .item i {
  align-items: center;
}
/* Smartphones */
@media (max-width: 500px) {
    #showcase {
        height:300px;
    }
    #showcase .showcase-content{
        height:500px;
        padding-top: 10px;
    }
    #showcase .l-heading{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .lead {
        line-height: 1rem;
        font-size: 15px;
        padding: 10px 80px;
    }
    #what{
        height: 600px;
    }
    #what .items{
        display: flex;
        flex-direction: row;
        width: 400px;
        height: 450px;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    #what .items .item{
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        text-align: left;    
    }
    #what .items .item i{
        margin: 10px;
    }
    #what .items .item p{
        margin-bottom: 10px;
    }
    #what .m-heading{
        padding-bottom: 10px;
    }
    
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 40%;
        font-weight: 50px;
    }
    
    #who{
        height: 450px;
    }
    #who .who-img {
     display: none;    
    }
    .who-text{

        padding-bottom: 0;
        margin-bottom: 0;
        height: 300px;
    }
        
    .list {
        margin-bottom: 0px;
        
    }
    .list li:last-child {
        padding-bottom: 0;
    }
    .who-text{
        padding-bottom: 0px;
        margin: 0;
    }
    #clients .items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
        padding-left: 0px;
        margin: 0;
        padding: 0;
          
    }
     #clients .items img {
       margin: 0;
       border: 0;
       padding: 0;
    }  
}
/* not 500 */
#showcase {
    height: 80vh;  
}
#showcase .showcase-content {
    height: 80vh;
}
#what .items {
    display: flex;
    flex-direction: row;
}

#what .items .item {
    padding: 20px 20px;
}

#what .items .item i {
    background: #94CE52;
    border-radius: 50%;
    padding: 20px;
}

#who .who-img {
    width: 100px;
    height: 300px;
}
.list {
    margin-bottom: 10px;
    padding-right: 20px;
    margin-right: 10px;
}
.list li {
    list-style: none;
    border-bottom: dotted;
    padding: 10px 0px;
}
#clients .items {
    
    padding-left: 10px;
    
}
#clients .items img {
    width: 100px;
    overflow: hidden;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 40px;
}
