#what .items {
  display: block;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  /* align-items:center */
  text-align: left;
}

/* Position icon */
#what .items .item i {
  align-items: center;
}

/* Smartphones */
@media (max-width: 500px) {
    height: 300px;
  /* navbar */
  #navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #navbar ul {
    text-align: center;
    margin-left: 100px;
    padding-top: 20px;
  }
  #logo {
    /* align-items:center */
    text-align: center;
  }
  .btn {
    width: 40%;
    font-weight: 50px;
  }
  /* what */
  #what .items {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 450px;
    flex-wrap: wrap;
    margin-left: 50px;
  }
  #what {
    height: 600px;
  }
  #what .items .item {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: left;
  }
  #what .items .item i {
    text-align: center;
    background: #8bc946;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 50%;
  }
  /* who */
  #who div {
    display: block;
  }
  /* notsureifthisworks */
  .item div {
    margin-left: 20px;
  }
  #showcase .showcase-content {
    height: 500px;
    padding-top: 10px;
  }
  #showcase .l-heading {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .lead {
    line-height: 1rem;
    font-size: 15px;
    padding: 10px 80px;
  }
  #who .who-img {
    background: none;
  }
}
